@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Nabla&family=Pacifico&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");


*{
    
    font-family: 'Roboto-regular', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}
header{
    font-size: 80px;
    height: 12rem;
    width: 100%;
    gap: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B1B1D;
    color: #F5F5F5;
    padding: 2vh 4vw;
}
h1{
    font-size: 70px;
    display: flex;
    
}

nav{
    display: flex;
    justify-content: center;
    align-items:center;
    color: #F5F5F5;
    background-color: #1B1B1D;
    gap: 2px;
}
nav a{
    color: #F5F5F5;
}
.Carrito{
    width: 70px;
    height: 70px;
    display: flex;
}
.btn-pagar{
    display: none;
} 
.btn-bag-fill{
    width: auto;
    background-color: #1B1B1D;
    border: none;
    display: none;
}

/* .log{
    width: 280px;
}
.log:hover{              
    background-color:#F5F5F5;
    color:#1B1B1D;
    border: 20rem;
    border-radius: .5rem;
}
a:hover{
    color: black;
} */

header i{
    background-color: #1B1B1D;
    font-size: 70px;
    color: white;
    text-decoration: none;
}


main{
    width: 100%;
}

.presentation{
    display: flex;
    background-color: #F5F5F5;
    padding: 3rem;
}
.presentationG5{
    padding: 2rem;
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 20px;
}
.Q{
    display: flex;
    justify-content: center;
    font-size:40px;
}
.a-presentacion{
    font-size: 25px;
    color: blueviolet;
}
p{
    padding: 0.5rem;
    font-size: 25px;
    font-weight:500;
}
ul{
    padding-left: 2rem;
    font-size: x-large;
    
}


.logo{
    margin: 1rem;
    padding: 0.2rem;
    width: 50%;
    background-color:white;
    border: none;
    border-radius: 40px;
    
}
.logo img{
    padding: 2rem;
    width: 40rem;
    height: 25rem;
    

}

.productos{
    padding: 2rem;
    gap :1rem;
    background-color: #F5F5F5;
    width: 100%;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.phone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30rem;
    height: 40rem;
    border-radius: 10px;
    text-align: center;
} 
.phone:hover{
    box-shadow: 2px 2px 0.2px #1B1B1D ;
    transition: .2s ease-in-out;
}
.phoneConteiner{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPhone{
    width: auto;
    height: 100%;
}
h2{
    font-size: 35px;
}

.btn-comprar{
    margin: 2px;
    height: 25px;
    width: 125px;
    background-color: rgb(112, 105, 105);
    color: white;
    border-radius: 7px;
    
}
.btn-comprar:hover{
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #1B1B1D;
    color: #F5F5F5;
    padding: 10vh 4vw;
    width: 100%;
    gap: 15rem;
}
.grupo5{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    width: 50%;
}
.foot{
    padding: 0;
    display: flex;
    justify-content:left;
    align-items: center;
}
.fot{
    font-size: 25px;
    width: 100%;
    padding-top: 3rem;
}
a{
    color: aqua;
    text-decoration: none;
}
.contac{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.form{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 18px;
}
.inputContainer{
    padding: 10px;
    border: none;
}
.form .inputContainer input{
    color: #F5F5F5;
    background-color:#1B1B1D;
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
}
.textarea{
    resize:vertical;
    width: 100%;
}
.enviar-btn{
    padding: 10px;
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    border: 3px solid #F5F5F5;
}
.enviar-btn:hover{
    transition: 0.2s ease-in-out;
    background-color: white;
    color: black;
    border: 5px solid black;

    
    border-bottom: 5px;
    cursor: pointer;
}
.envio{
    display: flex;
    justify-content:space-between;
    align-items:center;
}
.envio .gracias{
    display: flex;
    justify-content: end;
}



